<div class="container">
    <div class="header clearfix">
    	<nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" [ngClass]="{'active': currectPage == 'post'}"><a href="javascript:void(0);" (click)="onMenuClick('post')">Publications</a></li>
                <li role="presentation" [ngClass]="{'active': currectPage == 'news'}"><a href="javascript:void(0);" (click)="onMenuClick('news')">Actualités</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">{{ welcome }}</h3>
    </div> <!-- /header -->

	<app-post-list [posts]="dataPosts" [alreadyVoted]="alreadyVoted" *ngIf="currectPage == 'post'"></app-post-list>    
    <app-news-list [posts]="dataPosts" [alreadyVoted]="alreadyVoted" *ngIf="currectPage == 'news'"></app-news-list>
    
    <footer class="footer">
        <p [innerHTML]="copyright" class="text-center"></p>
    </footer> <!-- /footer -->
</div> <!-- /container -->
    
