<div class="row marketing">

    <div class="col-lg-6">
    	<div *ngFor="let post of dataPostsL; let i = index">
            <div [ngClass]="{'post': true,
                'success': post.loveIts > 0,
                'danger': post.loveIts < 0}">
                <h4>{{ post.title }}</h4>
                <p [innerHTML]="post.content"></p>
            </div>
            <div class="clearfix"></div>
            <small><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.created_at | date: 'dd/MM/yyyy à HH' }}h{{ post.created_at | date: 'mm' }}</small>
            <button class="btn btn-danger btn-sm pull-right dlv" type="button" [disabled]="alreadyVoted[post.id]" (click)="onVoteClick(post.id, false)">
            	<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Don't love it!
            </button>
            <button class="btn btn-success btn-sm pull-right lv" type="button" [disabled]="alreadyVoted[post.id]" (click)="onVoteClick(post.id, true)">
            	<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Love it!
            </button>
            <div class="clearfix"></div>
            <hr *ngIf="i < (dataPostsL.length - 1)" />
        </div>
    </div>

    <div class="col-lg-6">
        <div *ngFor="let post of dataPostsR; let i = index">
            <div [ngClass]="{'post': true,
                'success': post.loveIts > 0,
                'danger': post.loveIts < 0}">
                <h4>{{ post.title }}</h4>
                <p [innerHTML]="post.content"></p>
            </div>
            <div class="clearfix"></div>
            <small><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.created_at | date: 'dd/MM/yyyy à HH' }}h{{ post.created_at | date: 'mm' }}</small>
            <button class="btn btn-danger btn-sm pull-right dlv" type="button" [disabled]="alreadyVoted[post.id]" (click)="onVoteClick(post.id, false)">
            	<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Don't love it!
            </button>
            <button class="btn btn-success btn-sm pull-right lv" type="button" [disabled]="alreadyVoted[post.id]" (click)="onVoteClick(post.id, true)">
            	<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Love it!
            </button>
            <div class="clearfix"></div>
            <hr *ngIf="i < (dataPostsR.length - 1)" />
        </div>
    </div>
</div>